*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

/* Utilities */

.link {
    color: #000000;
    text-decoration: none;
    line-height: 1.75rem;
}

.btn {
    width: fit-content;
    height: 3rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 9999px;
    font-family: Sen, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #FFFFFF;
    background-color: #075EFD;
    cursor: pointer;
}

/* Elements */

.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
}

.navbar__list {
    display: flex;
    gap: 1.5rem;
}

.navbar__nav {
    list-style-type: none;
}

.navbar__link {
    line-height: 1.75rem;
}

.navbar__btn {
    text-decoration: none;
}

.hero {
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

.hero__section--1 {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__subtitle {
    text-transform: uppercase;
    color: #FACA15;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.1875rem;
}

.hero__title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
}

.hero__detail {
    line-height: 1.75;
}

.features {
    display: flex;
    gap: 3rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature__image {
    padding: 0.5rem;
    background-color: #075efd1a;
    border-radius: 1rem;
}

.feature__detail {
    font-family: Poppins, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.6875;
}

.hero__section--2 {
    display: flex;
    gap: 1.0625rem;
}

.hero__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.0625rem;
}

.hero__image {
    border-radius: 3rem;
}

.hero__image--1 {
    background-color: #67C743;
}

.hero__image--2 {
    background-color: #DB2A6B;
}

.hero__image--3 {
    background-color: #B2DCEE;
}

.hero__image--4 {
    background-color: #FF7E29;
}

.hero__image--5 {
    transform: translate(0.75rem, -0.3125rem);
}

.hero__image--6 {
    background-color: #FFE070;
}

.hero__image--7 {
    transform: translate(0.75rem, 0.3125rem);
}

.partners {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-x: hidden;
}

.partners__title {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.125rem;
    text-align: center;
    color: #1E1E1E;
}

.partners__items {
    width: max-content;
    display: flex;
    gap: 1.25rem;
    transform: translateX(calc(0rem - (90.25rem - 100vw) / 2));
}

.partners__item {
    width: 14rem;
    height: 5.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.products__title {
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -0.125rem;
    text-align: center;
    color: #1E1E1E;
}

.products__detail {
    line-height: 1.75rem;
    text-align: center;
    color: #6D6E76;
}

.products__cards {
    display: flex;
    margin-top: 2rem;
    gap: 1.625rem;
}

.product {
    width: 16.8125rem;
    border: 0.0625rem solid #FFE7E7;
    box-shadow: 0 0.25rem 1.25rem 0 #075EFD33;
}

.product__specs {
    padding: 1.5rem;
}

.product__title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.6%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product__detail {
    display: flex;
    gap: 0.75rem;
    line-height: 1.75rem;
    color: #6D6E76;
}

.product__users {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1.25rem;
}

.product__profile--2,
.product__profile--3 {
    margin-left: -1rem;
}

.product__count {
    font-family: Urbanist, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.4375rem;
}

.product__link {
    color: #075EFD;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-top: 1rem;
    font-family: Roboto, sans-serif;
}

.about {
    margin-top: 4rem;
    padding: 0 8rem;
}

.about__lines {
    display: flex;
    height: 1.5rem;
}

.about__line--1 {
    width: 20%;
}

.about__line--2 {
    width: 50%;
    background-color: #FFD050;
}

.about__line--3 {
    width: 30%;
    background-color: #075EFD;
}

.about__items {
    padding: 5rem;
    display: flex;
    background-color: #F4F0F8;
    align-items: center;
}

.about__col {
    width: 50%;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.about__subtitle {
    color: #232536;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.1875rem;
}

.about__title {
    color: #232536;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    letter-spacing: -0.125rem;
}

.about__title--1 {
    font-size: 2rem;
    line-height: 3rem;
}

.about__title--2 {
    font-size: 1.5rem;
    line-height: 2.5rem;   
}

.about__detail {
    line-height: 1.75rem;
    color: #6D6E76;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding: 0 8rem;
}

.testimonials__title {
    font-family: Montserrat, sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: -0.0625rem;
    text-align: center;
    color: #232536;
}

.testimonials__detail {
    margin-top: 0.75rem;
    color: #6D6E76;
    line-height: 1.75rem;
    text-align: center;
}

.testimonials__items {
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
}

.testimonial {
    padding: 2.5rem 2rem;
    border-radius: 0.375rem;
    box-shadow: 0 1.875rem 4.375rem 0 #000F3821;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonial__heading {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial__profile {
    display: flex;
    flex-direction: column;
}

.testimonial__name {
    font-family: Manrope, sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.375rem;
    color: #020334;
}

.testimonial__job {
    font-family: Manrope, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75rem;
    color: #55575C;
}

.testimonial__detail {
    font-family: Manrope, sans-serif;
    line-height: 1.75rem;
    color: #091524;
}

.action {
    margin-top: 4rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.action__title {
    width: 50%;
    text-align: center;
    color: #232536;
    font-family: Montserrat, sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: -0.125rem;
}

.action__detail {
    width: 28%;
    line-height: 1.75rem;
    text-align: center;
    color: #6D6E76;
}

.action__btn {
    border-radius: 0;
}

.footer {
    margin-top: 4rem;
    padding: 5rem;
    background-color: #071F51;
    display: flex;
    width: 100%;
}

.footer__col {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.footer__col--1 {
    width: 30%;
    gap: 2.5rem;
}

.footer__heading {
    font-family: Manrope, sans-serif;
    font-weight: 600;
    line-height: 1.75rem;
    color: #ABB0BA;
}

.footer__text {
    font-family: Manrope, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #ABB0BA;
}

.footer__col--2 {
    width: 20%;
    gap: 1.25rem;
}

.footer__title {
    font-family: Manrope, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5rem;
    color: #FFFFFF;
}

.footer__link {
    font-family: Manrope, sans-serif;
    font-weight: 600;
    line-height: 1.75rem;
    color: #ABB0BA;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__col--3 {
    width: 20%;
    gap: 1.25rem;
}

.footer__col--4 {
    width: 25%;
    gap: 1.25rem;
}

.footer__icon--instagram {
    border: 0.0625rem solid #FFFFFF1C;
    padding: 0.675rem;
}
